html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #111;
    position: relative;
}

h1, h2, h3 {
    color: #41c9a7;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 10px 0;
}

h4, h5, h6 {
    color: #95c3c3;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 5px 0;
}

p {
    color: #eee;
}

a {
    color: #99ffe9;
    text-decoration: none;
    cursor: pointer;
    outline: none;
}

a:hover {
    color: grey;
}

.warning {
    color: #ffc862;
    padding: 5px;
    margin-top: 5px;
}

.error {
	color: #fff;
	padding: 5px;
	margin-top: 5px;
	background-color: #a92323;
	border-radius: 5px;
	font-size: 14px;
}

p.top {
    border-bottom: 1px solid #222;
    color: #ccc;
    font-size: 13px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 15px;
}

form {
    font-size: 14px;
    color: #44e2bb;
}

input {
    background-color: #0e0e0e;
    border: 1px solid #222;
    height: 35px;
    color: #eee;
    margin: 2px;
    padding-left: 5px;
    display: block;
    margin-top: 10px;
    border-radius: 3px;
}

textarea {
    background-color: #0e0e0e;
    border: 1px solid #222;
    padding: 5px;
    height: 150px;
    color: #eee;
    font-size: 14px;
    display: block;
    margin-top: 10px;
    resize: none;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
}

input:focus, textarea:focus {
    border: 1px solid #41c9a7;
}

input[type="submit"]:hover {
    border: 1px solid #444;
    background-color: #111;
    cursor: pointer;
}

input[type="checkbox"] {
    display: inline; 
}

button {
    background-color: #171717;
    border: 1px solid #222;
    color: #eee;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    border: 1px solid #777;
}

div.message {
	color: #eee;
    padding: 5px 10px;
    margin-top: 10px;
	font-size: 14px;
    background-color: #151515;
    border: 1px solid #222;
	text-align: center;
}

div.message button {
    margin: 0;
    margin-left: 5px;
}

.loading {
    margin: 30px;
    text-align: center;
    color: #eee;
}