<div class="topic-container">
    <img [src]="topic.imgUrl ? topic.imgUrl : 'assets/images/article.png'">
    <h2>
        {{topic.title}}
    </h2>
    <h4>
        Written by {{topic.author}}
    </h4>
    <p *ngIf="topic.description" class="desc">
        {{topic.description}}
    </p>
    <div class="info">
        <p *ngIf="topic.year">Publishing year: {{topic.year}}</p>
        <p *ngIf="topic.genre">Genre: {{topic.genre}}</p>
    </div>
</div>

<p>
    <a [routerLink]="['/topic', topic._id, 'discussion']">
        Visit Discussion Page
    </a>
</p>

<update *ngIf="session|async" [topic]="topic"></update>
