/* General */

h2 {
    margin: 10px 0 0 0;
    font-size: 18px;
}

h4 {
    margin: 0 0 5px 0;
    font-size: 16px;
}

p {
    margin-top: 5px;
    font-size: 13px;
    text-align: justify;
}

p.top {
    margin-top: 25px;
    border-bottom: 1px solid #222;
    color: #ccc;
    font-weight: bold;
}

.topics {
    width: 100%;
    margin-top: 15px;
}

.boxes {
    display: flex;
    margin-top: 10px;
    /* background-color:#151515; */
}

.box-sm {
    flex: 1;
}

.box-lg {
    flex: 6;
}

.image {
    width: 80px;
    height: 80px;
    margin: 10px 0;
    background-size: 100% auto;
    display: table;
    border-radius: 5px;    
}

.image .save {
    width: 100%;
    height: 100%;
    border-radius: 5px;        
    display: none;
    vertical-align: middle;
    text-align: center;
    color: #ddd;
    cursor: pointer;
    background-color: #222;
    opacity: 0.8
}

.image .save.is-saved {
    color: #95c3c3;
    display: table-cell;
}

.image .save.is-saved:hover {
    color: #eca4a4;
}

.image:hover .save {
    display: table-cell;    
} 

p.status {
    display: block;
    text-align: right;
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 10px;
}