<div *ngIf="topics; else loading" class="topics">
    <p class="top">{{category.toUpperCase()}}</p>
    <div *ngFor="let topic of topics">
        <div class="boxes">
            <!-- <img [src]="topic.imgUrl ? topic.imgUrl : 'assets/images/book-avatar.jpg'"> -->
            <div class="box-sm">
                <div [style.background-image]="'url(\'/assets/images/article.png\')'" class="image">
                    <div *ngIf="session|async" [class.is-saved]="topic.isSaved" class="save" (click)="save(topic)">
                        <i class="fa fa-heart fa-2x"></i>
                    </div>
                </div>
            </div>
            
            <div class="box-lg">
                <div class="title">
                    <a [routerLink]="['/topic', topic._id]">
                        <h2>{{topic.title}}</h2>
                    </a>
                </div>
                <h4><i class="fa fa-pencil"></i> {{topic.author}}</h4>
                <p>{{topic.description}}</p>
            </div>

            <div class="box-sm">
                <p class="status" [routerLink]="['/topic', topic._id, 'discussion']">
                    <i class="fa fa-comments"></i> {{topic.repliesCount}}
                </p>
                <p class="status" [routerLink]="['/topic', topic._id]" >
                    <i class="fa fa-heart"></i> {{topic.timesSaved}}
                </p>
            </div>
        </div>      
    </div>
</div>

<ng-template #loading>
    <div class="loading">
        <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
    </div>
</ng-template>