<div *ngIf="!topic.reviewed" class="message">
    This topic is not approved yet. If you want, choose action to apply upon this topic.
    <button (click)="pending(true)">Approve topic</button>
    <button (click)="pending(false)">Reject</button>
</div>
    
<div *ngIf="!topic.passed && topic.reviewed" class="message">
    This topic is rejected by site moderators and will be deleted completely
    on upcoming maintenance. 
    <button (click)="pending(true)">Approve topic, instead?</button>
</div>
    

<form [formGroup]="form" #f="ngForm" (ngSubmit)="update(f)">
    <input placeholder="Author" 
           formControlName="author" 
           [(ngModel)]="topic.author">

    <input placeholder="Title" 
           formControlName="title"
           [(ngModel)]="topic.title">     

    <input placeholder="Category" 
           formControlName="category"
           [(ngModel)]="topic.category">

    <input placeholder="Year" 
           formControlName="year"
           [(ngModel)]="topic.year">

    <input placeholder="Genre" 
           formControlName="genre"
           [(ngModel)]="topic.genre">

    <textarea formControlName="description"
              [(ngModel)]="topic.description">
    </textarea>

    <input placeholder="Image URL" 
           formControlName="imgUrl"
           [(ngModel)]="topic.imgUrl">
   
    <button *ngIf="form.valid" type="submit">
        Update
    </button>

    <button (click)="remove()">
        Delete
    </button>
</form>