h2, p {
    margin-left: 10px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(15, 15, 15, 0.7);
}

table {
    width: 940px;
    margin: 10px;
}

/* Anchor will act like a cell */ 
table a {
    display: table-cell;
    height: 60px;
    background-color:rgba(15,15,15,0.6);
    color: #ccc;
    /* border-radius: 5px; */
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
}

table a:hover {
    background-color:rgba(15,15,15,0.8);    
    color: #eee;
}
