.menu-wrapper {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #111;
}

.menu {
    display: flex;
    width: 1280px;
    margin: 0 auto;
}

.logo {
    flex: 1;
    color: #fff;
    align-self: flex-end;
}

.logo i {
    margin-bottom: 10px;
    cursor: pointer;
}

.logo i:hover {
    color: #41c9a7;
}

.search {
    flex: 3;
    text-align: center;
    position: relative;

}

.search input {
    width: 80%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #444;
    padding-bottom: 0;
    margin-bottom: 0;
    align-self: flex-end;
}

.search .result {
    position: absolute;
    top: 60px;
    width: 500px;
    padding: 5px;
    background-color:white;
    -webkit-box-shadow: -5px 5px 25px 10px rgba(17,17,17,1);
    -moz-box-shadow: -5px 5px 25px 10px rgba(17,17,17,1);
    box-shadow: -5px 5px 25px 10px rgba(17,17,17,1);
}

.search .result h3 {
    display: block;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    margin-left: 10px;
    color: #444;
}

.search .result table {
    width: 100%;
}

.search .result tr {
    height: 40px;
    font-size: 14px;
}

.search .result td.image {
    width: 15%;
    text-align: center;
}

.search .result .img {
    margin-top: 5px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: #ddd;
    display: inline-block;
}

.search .result td.content {
    text-align: left;
    color: #0d5945;
}

.search .result td.category {
    font-size: 13px;
    font-weight: bold;
    padding-right: 10px;
    color: #555;
    text-align: right;
}

.navi {
    flex: 3;
    text-align: right;
    align-self: flex-end;
}

.navi ul {
    padding: 0; 
    display: inline-block;
    margin: 10px 0;
    font-size: 14px;
}

.navi li {
    display: inline-block;
    margin-top: 20px;
    margin-left: 5px;
}

.navi a {
    color: #eee;
    text-shadow: 1px 1px 1px rgba(15, 15, 15, 0.7);    
    text-decoration: none;
}

.navi a.active {
    color: #41c9a7;
}

.navi a:hover {
    color: #bbb;
}
