<div class="menu-wrapper">
    <div class="menu">
        <div class="logo">
            <i routerLink="/" class="fa fa-leaf fa-lg"></i>
        </div>
        <div class="search">
            <input #input (keyup)="search($event.target.value)" type="text" 
                    placeholder="&#9906; Type something to search for">

            <div *ngIf="input.value" class="result">
                <h3>SEARCH RESULTS FOR "{{input.value}}"</h3>
                <table>
                    <tr *ngFor="let item of found">
                        <td class="image"><div class="img"></div></td> <!-- placeholder, for image later -->
                        <td class="content">{{item.title}}</td>
                        <td class="category">{{item.category.toUpperCase()}}</td>                        
                    </tr>
                </table>    
            </div>
        </div>
        <div class="navi">
            <ul>
                <li><a routerLink="/dashboard">Dashboard</a></li>
                <li><a>About</a></li>
                <li *ngIf="!session"><a routerLink="/login">Login</a></li>
                <li *ngIf="session" (click)="logoutProceed()"><a>Logout</a></li>
            </ul>
        </div>
    </div>
</div>