<div *ngIf="session; else elseBlock">
    <p class="top">Logged in as {{session.name}}</p>
    <table>
        <!-- START OF TODO -->
        <tr routerLink="/topics/create">
            <td><i class="fa fa-bullhorn"></i></td>
            <td>Submission</td>
        </tr>
        <tr [routerLink]="['/user', session.name]">
            <td><i class="fa fa-user"></i></td>
            <td>User page</td>
        </tr>
        <tr>
            <td><i class="fa fa-group"></i></td>
            <td>People</td>
        </tr>
        <tr>
            <td><i class="fa fa-line-chart"></i></td>
            <td>Statistics</td>
        </tr>
        <tr>
            <td><i class="fa fa-gears"></i></td>
            <td>Settings</td>
        </tr>
        <!-- END OF TODO -->
    </table>
</div>
<div *ngIf="session && session.priority <= 3">
    <p class="top">MODERATING</p>
    <table>
            <tr [routerLink]="['/topics', 'pending']">
                <td><i class="fa fa-archive"></i></td>
                <td>Pending</td>
            </tr>
            <tr [routerLink]="['/topics', 'pending']" 
                [queryParams]="{reviewed: true}">
                <td><i class="fa fa-trash"></i></td>
                <td>Rejected</td>
            </tr>
            <tr>
                <td><i class="fa fa-address-book"></i></td>
                <td>Users</td>
            </tr>
        </table>
</div>
<ng-template #elseBlock>
    <h2>Controls</h2>
    <table>
            <tr routerLink="/join">
                <td><i class="fa fa-plug"></i></td>
                <td>Registration</td>
            </tr>
            <tr routerLink="/login">
                <td><i class="fa fa-usb"></i></td>
                <td>Login</td>
            </tr>
    </table>
</ng-template>