p.top {
    border-bottom: none;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    color: #eee;
    padding-left: 10px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    font-size: 14px;
}

ul li:hover {
    background-color: #2e2e2e;
}

table {
    width: 90%;
    border-collapse: collapse;
    border-left: 1px solid #222;    
}

tr {
    color: #eee;
    height: 40px;
    width: 100%;
    font-size: 14px;
    cursor: pointer;
}

tr:hover {
    background-color: #222;
}

td:first-child {
    width: 20%;
    text-align: center;
}

td:nth-child(2) {
    width: 80%;
}