<div class="page-wrap"> <!-- Reason: Sticky footer -->
    <div class="push"></div>        

    <div class="boxes">
        <div class="box-sidebar">
            <sidebar [session]="session"></sidebar>
        </div>
        
        <div class="box-content">
            <router-outlet></router-outlet>
            <div class="controls">
                <a (click)="goBack()" class="back">
                    <i class="fa fa-angle-left"></i>
                </a>
            </div>
            <div class="push"></div>
        </div>
    </div>
</div>

<!-- Change this with z-index insted of this "order solution"  -->
<top-menu [session]="session"></top-menu>

<div id="footer">
    <p>Join us</p>
    <p>Terms and conditions</p>
    <p>Privacy policy</p>
    <p>About</p>
    <p>Contact</p>
    <p>2017.</p>
</div>
