.page-wrap {
    width: 1280px;
    min-height: 100%;
    /* Set the negative bottom margin equal to footer height */
    margin: 0 auto -35px auto;
}

.boxes {
    display: flex;
}

.box-sidebar {
    flex: 1;
}

.box-content {
    flex: 3;
    overflow: hidden;
}

.push {
    height: 70px;
}

.back {
    text-align: center;
    font-size: 35px;
    display: block;
    color: white;
    text-shadow: 1px 1px 1px rgba(15, 15, 15, 0.7);
    margin-top: 20px;
}

.back:hover {
    color: #41c9a7;
}

#footer {
    height: 35px;
    text-align: center;
    /* Border + Height = 50px */
}

#footer p {
    display: inline-block; 
    margin: 5px;
    margin-top: 10px;
    color: #eee;
    font-size: 14px;
    cursor: pointer;
}

#footer p:hover {
    color: #ccc;
    font-style: oblique;
}
