<div class="user">
    <div class="box-sm">
        <div class="avatar">
            <img src="/assets/images/user.png">
        </div>
    </div>
    <div class="box-lg">
        <h3 class="username">@{{user.name}}</h3>
        <p class="follow"><i class="fa fa-group"></i> FOLLOWERS 25</p>
        <p class="follow"><i class="fa fa-group"></i> FOLLOWING 30</p>
        <p class="user-descript">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi aliquid facere fuga perferendis, eaque pariatur tempore totam adipisci illo ipsam possimus voluptas similique soluta doloribus velit at laborum animi ab!  
        </p>
    </div>
    <!-- <div class="box-sm">
    </div>     -->
</div>

<div class="push"></div>

<p class="top">USER SAVED</p>

<div *ngFor="let save of saved|async" class="saves">
    <div class="box-sm">
        <div class="image">
            <img src="/assets/images/article.png">
        </div>
    </div>
    <div class="box-lg">
        <h3>{{save.title}}</h3>
        <p>{{save.description.length > 200 ? save.description.substring(0, 200) + "...": save.description}}</p>
    </div>
    <div class="box-sm">
        <p><i class="fa fa-comments"></i> {{save.repliesCount}}</p>
        <p><i class="fa fa-heart"></i> {{save.savedCount}}</p>
    </div>
</div>

<div class="controls">
    <button (click)=savedUpdate()>
        <i class="fa fa-angle-left fa-lg"></i>
    </button>
    <button (click)=savedUpdate()>
        <i class="fa fa-angle-right fa-lg"></i>
    </button>
</div>

<!-- <em *ngIf="!(saves|async)?.length">Nothing to show. No topics saved.</em> -->
<div class="push"></div>

<p class="top">USER STARTED</p>

<div *ngFor="let submit of submitted|async" class="saves">
    <div class="box-sm">
        <div class="image">
            <img src="/assets/images/article.png">
        </div>
    </div>
    <div class="box-lg">
        <h3 [routerLink]="['/topic', submit._id]">
            {{submit.title}}
        </h3>
        <p>
            {{submit.description.length > 200 ? submit.description.substring(0, 200) + "...": submit.description}}
        </p>
    </div>
    <div class="box-sm">
        <p><i class="fa fa-comments"></i> {{submit.repliesCount}}</p>
        <p><i class="fa fa-heart"></i> {{submit.savedCount}}</p>
    </div>
</div>

<div class="controls">
    <button (click)=submittedUpdate()>
        <i class="fa fa-angle-left fa-lg"></i>
    </button>
    <button (click)=submittedUpdate()>
        <i class="fa fa-angle-right fa-lg"></i>
    </button>
</div>
<!-- <em *ngIf="!(submitted|async)?.length">Nothing to show. User has not submitted any topics.</em> -->


