/* General */
h2 {
    font-size: 15px;
    text-align: center;
    font-weight: 100;
    font-family: 'Roboto', 'sans-serif';
    border-bottom: 1px solid #171717;
    padding-bottom: 10px;
}

h3 {
    margin: 0;
    cursor: pointer;    
}

p {
    margin: 0;
    font-size: 13px;
}

em {
    text-align: center;
    color: #ddd;
    display: block;
    font-size: 14px;
    margin-bottom: 30px;
}

.saves, .user {
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
}

.box-sm {
    flex: 1;
}

.box-lg {
    flex: 8;
}

/* Replies and saves count */
.box-sm p {
    display: block;
    cursor: pointer;
    text-align: right;
}

/* Follows */
.user .box-lg p.follow, .user .box-lg h3.username {
    display: inline-block;
    margin-left: 15px;
    margin-top: 10px;
    font-weight: bold;
    color: #eee;
}

.image, .avatar {
    width: 50px;
    height: 50px;
    /* background-color: #333; */
    margin: 5px 0;
    border-radius: 5px;
}

.image img {
    width: 50px;
    height: 50px;
}

.avatar {
    width: 80px;
    height: 80px;
}

.avatar img {
    width: 80px;
    height: 80px;
    border-radius: 5px;
}

.user {
    margin-top: 40px;
}

.user .box-sm {
    text-align: center;
}

p.user-descript {
    margin-top: 10px;
    font-size: 14px;
    color: #eee;
}

.push {
    height: 50px;
    display: block;
}

.controls {
    display: block;
    text-align: center;
}

button {
    display: inline;
    background-color: transparent;
    border: none;
}

button:hover {
    color: #3bb294;
}