<form [formGroup]="userForm" #f="ngForm" (ngSubmit)="onSubmit(userForm, f)">
    <h1>Registration</h1>
    <p *ngIf="message" class="warning">{{message}}</p>
    <input
        formControlName="name"
        placeholder="Name" required
        (keyup)=nameChanged($event.target.value)>
    <div *ngIf="name.valid && nameUnique">This name is available.</div>
    
    <input
        formControlName="email"
        placeholder="E-mail" required
        (keyup)=emailChanged($event.target.value)>
    <div *ngIf="email.valid && emailUnique">This email is available.</div>
    <input
        formControlName="password" type="password"
        placeholder="Password" required>
    <button type="Submit" *ngIf="userForm.valid">
        Next
    </button>
</form>