<div class="wrapper">
    <h2>Log in</h2>
    <form (ngSubmit)="loginSubmit()">
        <input 
            #username 
            [(ngModel)]="creds.name"
            placeholder="Name" 
            name="name">
        <input 
            #password 
            [(ngModel)]="creds.password"
            placeholder="Password" 
            type="password" 
            name="password">
        <input type="submit" value="Proceed">
        <p *ngIf="message" class="warning">
            {{message}}
        </p>
    </form>
</div>
